# .gitignore
.vscode/
lib/
.DS_Store
bin/out
bin/output
bin/Admin.class
bin/Customer.class
bin/DatabaseAdapter.class
bin/User.class
src/DatabaseAdapter.java
bin/DatabaseAdapter.class
src/DatabaseAdapter.java
bin/App.class

