#loginButton {
    -fx-background-color: #4AAB3B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10,0,0,1 );
    -fx-border: none;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

#loginButton:hover {
    -fx-background-color: #3FBF3F; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}

#loginButton:pressed {
    -fx-background-color: #367c36; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 0.95; 
    -fx-scale-y: 0.95;
}

#nextStepButton {
    -fx-background-color: #4AAB3B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10,0,0,1 );
    -fx-border: none;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

#nextStepButton:hover {
    -fx-background-color: #3FBF3F; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}

#nextStepButton:pressed {
    -fx-background-color: #367c36; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 0.95; 
    -fx-scale-y: 0.95;
}

#registerButton {
    -fx-background-color: #4AAB3B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10,0,0,1 );
    -fx-border: none;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
    -fx-min-width: 10;
    -fx-max-width: 500;
    -fx-pref-width: 150;
    -fx-pref-height: 150;
    -fx-min-height: 10;
    -fx-max-height: 500;
    
}

#registerButton:hover {
    -fx-background-color: #3FBF3F; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}

#registerButton:pressed {
    -fx-background-color: #367c36; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 0.95; 
    -fx-scale-y: 0.95;
}


#shoppingCartButton {
    -fx-background-image: url("shoppingCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#buyButton {
    -fx-background-image: url("buyButton.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}


#addToCartButton {
    -fx-background-image: url("addToCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#addToCartButton3 {
    -fx-background-image: url("removeFromCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#productInfo {
    /*make it circular */
    -fx-background-radius: 10%;
    -fx-border-width: 5px;
    -fx-border-radius: 10%;
}

#profilePhoto {
    /*make it circular */
    -fx-background-image: url("defaultProfilePicture.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-radius: 50%;
    -fx-radius: 50%;

}

#saveProfileButton {
    -fx-background-image: url("saveProfile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75% 75%;
    /* center the image */
    -fx-background-position: center;
    -fx-background-color:  #2A6D72;
    
}

#removeOrder {
    -fx-background-image: url("removeOrder.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75% 75%;
    /* center the image */
    -fx-background-position: center;
    -fx-background-color:  transparent;
}

