#loginButton {
    -fx-background-color: #4AAB3B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 10,0,0,1 );
    -fx-border: none;
    -fx-cursor: hand;
    -fx-transition: all 0.3s;
}

#loginButton:hover {
    -fx-background-color: #3FBF3F; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 1.05; 
    -fx-scale-y: 1.05; 
}

#loginButton:pressed {
    -fx-background-color: #367c36; 
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 12,0,0,2 );
    -fx-scale-x: 0.95; 
    -fx-scale-y: 0.95;
}

#textFields {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-border-color: linear-gradient(to right, #00fff2, #1900ff);
    -fx-background-color: linear-gradient(to right, #e6e6e6, #ffffff);
}