
#shoppingCartButton {
    -fx-background-image: url("../images/shoppingCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#buyButton {
    -fx-background-image: url("../images/buyButton.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}


#addToCartButton {
    -fx-background-image: url("../images/addToCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#addToCartButton3 {
    -fx-background-image: url("../images/removeFromCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;

}

#productInfo {
    /*make it circular */
    -fx-background-radius: 10%;
    -fx-border-width: 5px;
    -fx-border-color: #d5dfe3;
    -fx-border-radius: 10%;
    -fx-background-color: #20373b;
}

#orderDetails {
    /*make it circular */
    -fx-background-radius: 10%;
    -fx-border-width: 5px;
    -fx-border-color: #d5dfe3;
    -fx-border-radius: 10%;
    -fx-background-color: #20373b;
}

#profilePhoto {
    /*make it circular */
    -fx-background-image: url("../images/defaultProfilePicture.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-radius: 50%;
    -fx-border-width: 5px;
    -fx-border-radius: 50%;
    -fx-radius: 50%;

}


#saveProfileButton {
    -fx-background-image: url("../images/saveProfile.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75% 75%;
    /* center the image */
    -fx-background-position: center;
    -fx-background-color:  #2A6D72;
    
}

#removeOrder {
    -fx-background-image: url("../images/removeOrder.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75% 75%;
    /* center the image */
    -fx-background-position: center;
    -fx-background-color:  transparent;
}

#addProductButton {
    -fx-background-image: url("../images/shoppingCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;
}

#addProductButton:hover {
    -fx-background-color:#9ba4a6;
}

#textFields{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 8;
    -fx-font-size: 14px;
    -fx-border-color: linear-gradient(to right, #00fff2, #1900ff);
    -fx-background-color: linear-gradient(to right, #e6e6e6, #ffffff);
}

#comboBox {
    -fx-background-radius:30;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-border-color: #ccc;
    -fx-border-color: linear-gradient(to right, #00fff2, #1900ff);
}

/* styles.css */


#comboBox.arrow-button {
    -fx-background-color: #ddd;
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z";
}

#button {
    -fx-padding: 3;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: linear-gradient(to right, #00fff2, #1900ff);
    -fx-background-color: linear-gradient(to right, #e6e6e6, #ffffff);
}

#deleteButton {
    -fx-background-image: url("../images/removeFromCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;
}

#checkoutButton
{
    -fx-background-image: url("../images/addedToCart.png");
    -fx-background-size: 65% 65%;
    
    -fx-background-radius: 50%;
    /* size */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
    
    -fx-background-repeat: no-repeat;
    /* center the image */
    -fx-background-position: center;
}